.container{
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.light_mode {
  color: rgb(36, 33, 33) !important;
  background-color: white !important;
}

.dark_mode {
  background-color: #212226 !important;
  color: rgb(226, 225, 225) !important;
}

/* .logo {
  position: absolute;
  display: block;
  margin: 10px 0 0 20px;
} */

/* @media (max-width: 9800px){ */
  .logo {
    position: initial;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
  }  
/* } */