
.accordion_dark_mode{
    background-color: #35363A !important;
    /*#282931 !important;*/

    box-shadow:
        0 1px 2px 0 #282931,
        0 0 0 1px #282931 !important;
}

.accordion_dark_mode > .title{
    color: rgb(226, 225, 225) !important; 
    border-top: 1.5px solid #282931 !important;
}
.accordion_dark_mode > .title:hover{
    color: rgb(150, 150, 150) !important; 
}