.centered{
    margin: 40px auto 0px !important;
    justify-content: center !important;
}

/* Colors */
/*
dark blue: #476A6F
light blue: #258EA6
dark green: #519E8A
medium green: #7EB09B
light green: #A3C4BC
*/

.wrapper {
    height: 125vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #258ea6;
}

.form-wrapper {
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0px 10px 50px #555;
    background-color: #ffffff;
}

.wrapper form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.wrapper h1 {
    text-align: center;
    width: 100%;
    color: #111;
    font-weight: bolder;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.wrapper label {
    font-size: 0.8em;
    margin-bottom: 0.25em;
    color: #222;
    font-weight: lighter; 
}

.wrapper input {
    padding: 10px 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #cfcfcf;
}

.wrapper input::placeholder {
    font-size: 1.2em;
    font-weight: lighter;
    color: #999;
}

.formDropdown {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.formDropdown {
    width: 100%;
}

.editForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.editForm button {
    background-color: #519e8a !important;
    color: #fff !important;
    border: 2px solid #fff !important;
    width: 100% !important;
    margin-top: 1em !important;
    padding: 8px 0px !important;
    font-size: 1em !important;
    font-weight: lighter !important;
    letter-spacing: 1px!important;
    margin-bottom: 0.25em !important;
}

.editForm button:hover {
    color: #fff;
    background-color: #367b69;
    border: 2px solid #fff;
}
