/* Colors
/*
dark blue: #476A6F
light blue: #258EA6
dark green: #519E8A
medium green: #7EB09B
light green: #A3C4BC
*/

.wrapper {
    height: 125vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #258ea6;
}

.form-wrapper {
    width: 500px !important;
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0px 10px 50px #555;
    background-color: #ffffff;
}

.form_class {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}


.h1_class {
    text-align: center !important;
    width: 100% !important;
    color: #111 !important;
    font-weight: lighter !important;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
        font-size: 2em;
        margin-bottom: 1em;
}

.label_class {
    font-size: 1.2em !important;
    margin-bottom: 0.25em !important;
    color: #222 !important;
    font-weight: lighter !important;
}

.input_class {
    padding: 10px 10px !important;
    border-radius: 5px !important;
    outline: none !important;
    border: 1px solid #cfcfcf !important;
}

.input_class::placeholder {
    font-size: 1.2em;
    font-weight: lighter;
    color: #999;
}

input.error {
    border: 1px solid red;
}

.errorMessage {
    color: red;
    font-size: 0.75em;
    display: relative;
}

.batteryLife,
.cpuModel,
.displaySize,
.displayType,
.memorySize,
.memorySpeed,
.memoryType,
.gpuModel {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.batteryLife,
.cpuModel,
.displaySize,
.displayType,
.memorySize,
.memorySpeed,
.memoryType,
.gpuModel {
    width: 100%;
}

.updateFormula {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.updateFormula button {
    background-color: #519e8a;
    color: #fff;
    border: 2px solid #fff;
    width: 100%;
    margin-top: 1em;
    padding: 8px 0px;
    font-size: 1em;
    font-weight: lighter;
    letter-spacing: 1px;
    margin-bottom: 0.25em;
}

.updateFormula button:hover {
    color: #fff;
    background-color: #367b69;
    border: 2px solid #fff;
}