.banner {
    font-size: 50px;
    text-align: center;
}

.main_container{
    justify-content: center;
    margin-left: auto !important;
    margin-right: auto !important;
}

.submit_button{
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.input_range_column{
    margin-top: 10px;
}

.title{
    margin-top: 0.6em;
    margin-bottom: 1.1em;
}

@media (max-width: 1000px){
    .title{
        margin-top: 0.5em;
    }
}


.slider {
    overflow-y: scroll;
}