

.list-group-item_dark_mode {
    background-color: #35363A !important;
    border-color: #282931 !important;
    border-width: 1.5px !important;
}

.item-padding{
    margin-top: 10px;
}

.visibility_small{
    display: none;
}

.hidden_small{
    display: initial;
}

.carousel-control-next{
    background-color: black;
}
.carousel-control-prev{
    background-color: black;
}

@media screen and (max-width: 991px){
    .visibility_small{
        display: block;
    }
    .hidden_small{
        display: none;
    }
}

.my_close > button {
    color: white;
}